.slick-slider{
	position: relative;
	.slick-track,.slick-list{}
	.slick-track{
		overflow: hidden;
	}
	.slick-list{}
	.slick-slide{
		outline: none;
	}
	.slick-dots{
		li{
			button{}
			&.slick-active{
				button{}
			}
		}
	}
}